.footer {
	background: #07043b;
	color: #fff;
}
.footer__logo {
	margin-bottom: 35px;
}
.footer__link,
.footer-header {
	position:relative;
/*	z-index:9;*/
	color: #fff;
	text-decoration: none;
}
.footer__link::before {
	content:'';
	position: absolute;
	bottom: -2px;
	width: 0;
	height: 1px;
	background: #06d79d;
	transition: .3s;
}
.footer__link:hover::before {
	width: 100%;
}
.footer__left,
.footer__middle,
.footer__right {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1;
	    -ms-flex: 1 1;
	        flex: 1 1;
	border-right: 1px solid #fff;
}
.footer__middle {
	-webkit-box-flex: 2;
	-webkit-flex: 2 2;
	    -ms-flex: 2 2;
	        flex: 2 2;
}
.footer__list-item {
	margin-bottom: 10px;
}
.footer__list-item img {
	margin-right: 20px;
}
.footer__right {
	margin-left: 50px;
	border-right: none;
}
@media only screen and (max-width: 768px) {
	.footer {
		flex-direction: column;
	}
	.footer__middle {
		justify-content: space-between;
		order: 2;
	}
	.footer__left,
	.footer__middle,
	.footer__right {
		border: none;
		margin-bottom: 50px;
	}
	.footer__right {
		margin-left: 0;
	}
}
@media only screen and (max-width: 425px) {
	.footer__middle {
		flex-direction: column;
	}
	.footer__middle-left,
	.footer__middle-middle {
		margin-bottom: 50px;
	}
}