body {
	font-family: 'Merriweather', serif;
	color: #3a3a3a;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif;
	line-height: 50px;
	margin-bottom: 50px;
}
.hero,
.main,
.footer {
	padding: 100px 50px;
}