.main {
	position: relative;
}
.main::before,
.main::after {
	content: '';
    position: absolute;
    left: -10%;
    top: -65px;
    height: 140px;
    width: 120%;
    -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
            transform: rotate(5deg);
    background: #fff;
}
.main::after {
	top: auto;
    bottom: -600px;
    background: #07043b;
    z-index: -1;
}
.main__title {
	position:relative;
	z-index: 9;
	margin-bottom: 100px;
    text-align: center;
}
.main__illustration {
	margin-right: 100px;
}
.main__content-col:first-of-type {
	margin-right: 50px;
}
.subscribe {
	max-width: 600px;
	/*width: 600px;*/
    margin: 0 auto;
    text-align: center;
}
.subscribe__email {
	max-width: 300px;
	width: 100%;
	padding: 10px 5px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 5px;
}
@media only screen and (min-width: 1440px) {
	.main::before, .main::after {
		top: -128px;
	    height: 250px;
	}
	.main::after {
		top: auto;
		bottom: -650px;
	}
}
@media only screen and (max-width: 1200px) {
	.main__wrapper {
		flex-direction: column;
		align-items: center;
	}
	.main__illustration {
		margin: 0 0 100px 0;
	}
}
@media only screen and (max-width: 768px) {
	.main {
		padding-bottom: 0;
	}
	.main__content {
		flex-direction: column;
	}
	.main__content-col:first-of-type {
		margin-right: 0;
	}
}
@media only screen and (max-width: 550px) {
	.main::after {
	    bottom: -485px;
	}
	.main__illustration {
		width: 100%;
	}
}
@media only screen and (max-width: 425px) {
	.main::after {
	    bottom: -550px;
	}
}
	